<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="Lucas Bubner - 9WI 2022">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Python Game Pre-load</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script>
      function alp() {
        alert(
        "Sorry, we had trouble processing your request. Please try again later."
      );
        document.getElementById('checkbox').checked = true;
      }
    </script>
    <script src="{{ url_for('static', filename='fader.js') }}"></script>
  </head>
  <body>
    <svg id="fader"></svg> <script>fadeIn();</script>
    <form action="/story" method="GET">
      <h3>PRE-LOAD SETTINGS || PYTHON INTERACTIVE GAME || LUCAS BUBNER, 2022</h3>
      <p><i>What is your name?</i> <input type="text" name="playername" required></p>
      <p>Allow additional full tracking of your personal data, full legal names of your nuclear ancestry, real-time location, meal information, car location and petrol readings, biological blood-based DNA signature, biometrics, home security codes and door key blueprints, all internet history and keystrokes, social security number and governmental record identifiers, and all neurologically saved or encrypted passwords? <input type="checkbox" id="checkbox" onclick="alp();" checked="true"></p>
<!-- You can't escape the tracking -->
      <p><b>This project is only half-finished but has templates in its source code and GitHub version control for those who want to continue it... <br> It would've taken too long and too much sanity to complete this project within time so it only has half of the intended pathways. This means there are only 15 endings down one subpath which is unfortunate but the source control for this project still has all the original code => <a href="https://github.com/holo911/AdventureGame">https://github.com/holo911/AdventureGame</a> <br> <br> Please try not to use the back button in your browser as it can mess with some essential variables! Good luck and have fun!</b></p>
      <button type="submit" style="all: revert; font-family: 'Lato', sans-serif; width: 400px; height: auto; font-size: 24px;">Submit and start game</button>
    </form>
  </body>
</html>